[Unit]
Description=Sumo Logic Distribution for OpenTelemetry Collector

[Service]
ExecStart=/usr/local/bin/otelcol-sumo --config /etc/otelcol-sumo/sumologic.yaml --config "glob:/etc/otelcol-sumo/conf.d/*.yaml"
User=otelcol-sumo
Group=otelcol-sumo
MemoryHigh=2000M
MemoryMax=3000M
TimeoutStopSec=20
EnvironmentFile=-/etc/otelcol-sumo/env/*.env

[Install]
WantedBy=multi-user.target
