[Unit]
Description=Sumo Logic Distribution for OpenTelemetry Collector

[Service]
ExecStart=/usr/local/bin/otelcol-sumo --config /etc/otelcol-sumo/config.yaml
User=opentelemetry
Group=opentelemetry
MemoryHigh=2000M
MemoryMax=3000M
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
