<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>otelcol-sumo</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/otelcol-sumo</string>
      <string>--config</string>
      <string>/etc/otelcol-sumo/sumologic.yaml</string>
      <string>--config</string>
      <string>glob:/etc/otelcol-sumo/conf.d/*.yaml</string>
    </array>
    <!-- Service user -->
    <key>UserName</key>
    <string>_otelcol-sumo</string>
    <!-- Service group -->
    <key>GroupName</key>
    <string>_otelcol-sumo</string>
    <!-- Run the service immediately after it is loaded -->
    <key>RunAtLoad</key>
    <true/>
    <!-- Restart the process if it exits -->
    <key>KeepAlive</key>
    <true/>
    <!-- Redirect stdout to a log file -->
    <key>StandardOutPath</key>
    <string>/var/log/otelcol-sumo/otelcol-sumo.log</string>
    <!-- Redirect stderr to a log file -->
    <key>StandardErrorPath</key>
    <string>/var/log/otelcol-sumo/otelcol-sumo.log</string>
  </dict>
</plist>
