# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
coverage.html
coverage.txt

# Dependency directories (remove the comment below to include it)
# vendor/

# Vagrant
.vagrant

# Virtualbox
*.log

# Mac's .DS_Store
.DS_Store

# chef
chef_guid
local-mode-cache
nodes

.vscode/*
!.vscode/extensions.json

# Go workspace settings
go.work*

# udpdemux binary
pkg/tools/udpdemux/udpdemux

# otelcol-config binary
pkg/tools/otelcol-config/otelcol-config

# temporary files
/tmp

# WiX toolset
*.msi
*.wixpdb
*.wixobj
*.cab
.vs/
bin/
obj/
Backup*/
UpgradeLog*.htm
packaging/wix/packages
packaging/msi/wix/packages
packaging/msi/SumoLogic.wixext/packages

# Windows Thumbs.db
Thumbs.db

# 1Password
.op/

artifacts/

report.xml
