<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <UI>
            <Dialog Id="ConfigurationDlg" Width="370" Height="270" Title="!(loc.ConfigurationDlg_Title)">
                <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="!(loc.WixUINext)" />
                <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)" />
                <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
                    <Publish Event="SpawnDialog" Value="CancelDlg" />
                </Control>

                <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ConfigurationDlgDescription)" />
                <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.ConfigurationDlgTitle)" />
                <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.ConfigurationDlgBannerBitmap)" />
                <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
                <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

                <Control Id="InstallationTokenTitle" Type="Text" X="20" Y="60" Width="290" Height="14" NoPrefix="yes" Text="!(loc.ConfigurationDlgInstallationTokenTitle)" />
                <Control Id="InstallationTokenDesc" Type="Hyperlink" X="20" Y="74" Width="290" Height="20" Text="!(loc.ConfigurationDlgInstallationTokenDescription)" />
                <Control Id="InstallationTokenVar" Type="Edit" X="20" Y="100" Width="290" Height="18" Property="INSTALLATIONTOKEN" Indirect="no" />

                <Control Id="TagsTitle" Type="Text" X="20" Y="130" Width="290" Height="14" NoPrefix="yes" Text="!(loc.ConfigurationDlgTagsTitle)" />
                <Control Id="TagsDesc" Type="Text" X="20" Y="144" Width="290" Height="18" NoPrefix="yes" Text="!(loc.ConfigurationDlgTagsDescription)" />
                <Control Id="TagsVar" Type="Edit" X="20" Y="162" Width="290" Height="18" Property="TAGS" Indirect="no" />
            </Dialog>
        </UI>
    </Fragment>
</Wix>
