<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <?include variables.wxi ?>

  <Fragment>
    <ComponentGroup Id="HostMetricsComponents" Directory="APPDATAFOLDER">
      <Component Directory="ConfigFragmentsFolder">
        <File Id="HostMetricsConfig" Name="hostmetrics.yaml" Source="!(bindpath.examples)\conf.d\windows.yaml" />
      </Component>

      <Component Id="UninstallHostMetricsConfig" Directory="ConfigFragmentsFolder" Guid="891d5683-d4f8-4574-b20a-a7ea184c5118">
        <RemoveFile Name="hostmetrics.yaml" On="uninstall" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="AppDataComponents" Directory="APPDATAFOLDER">
      <!-- Add InstallLocation to Registry -->
      <Component>
        <RegistryKey Root="HKLM" Key="$(RegKeyPath)" ForceCreateOnInstall="yes">
          <RegistryValue Name="InstallLocation" Value="[INSTALLFOLDER]" Type="string" KeyPath="yes" />
          <!-- <Permission User="Administrators" GenericAll="yes" /> -->
          <PermissionEx Sddl="O:BAG:S-1-5-21-3988832304-4192099344-2875098712-513D:PAI(A;CI;KA;;;SY)(A;CI;KA;;;BA)" />
        </RegistryKey>
      </Component>

      <!-- Add AppDataLocation to Registry -->
      <Component>
        <RegistryKey Root="HKLM" Key="$(RegKeyPath)" ForceCreateOnInstall="yes">
          <RegistryValue Name="AppDataLocation" Value="[APPDATAFOLDER]" Type="string" KeyPath="yes" />
          <PermissionEx Sddl="O:BAG:S-1-5-21-3988832304-4192099344-2875098712-513D:PAI(A;CI;KA;;;SY)(A;CI;KA;;;BA)" />
        </RegistryKey>
      </Component>

      <!-- TODO: fix permissions to allow securely storing secrets in the registry -->
      <!-- Add InstallationToken to Registry -->
      <!-- <Component> -->
      <!--   <RegistryKey Root="HKLM" Key="$(RegKeyPath)" ForceCreateOnInstall="yes"> -->
      <!--     <RegistryValue Name="InstallationToken" Value="[INSTALLATIONTOKEN]" Type="string" KeyPath="yes" /> -->
      <!--     <PermissionEx Sddl="O:BAG:S-1-5-21-3988832304-4192099344-2875098712-513D:PAI(A;CI;KA;;;SY)(A;CI;KA;;;BA)" /> -->
      <!--   </RegistryKey> -->
      <!-- </Component> -->

      <!-- TODO: fix permissions to allow securely storing secrets in the registry -->
      <!-- Add Tags to Registry -->
      <!-- <Component> -->
      <!--   <RegistryKey Root="HKLM" Key="$(RegKeyPath)" ForceCreateOnInstall="yes"> -->
      <!--     <RegistryValue Name="Tags" Value="[TAGS]" Type="string" KeyPath="yes" /> -->
      <!--     <PermissionEx Sddl="O:BAG:S-1-5-21-3988832304-4192099344-2875098712-513D:PAI(A;CI;KA;;;SY)(A;CI;KA;;;BA)" /> -->
      <!--   </RegistryKey> -->
      <!-- </Component> -->

      <Component Id="cAPPDATAFOLDER" Directory="APPDATAFOLDER" KeyPath="yes" Guid="0606049B-8268-4002-855F-586426F3EDFD">
        <CreateFolder>
          <!-- Restrict access to CREATOR OWNER, SYSTEM, and Administrators -->
          <PermissionEx Sddl="O:SYG:SYD:PAI(A;OICIIO;FA;;;CO)(A;OICI;FA;;;SY)(A;OICI;FA;;;BA)" />
        </CreateFolder>
        <RemoveFolder On="uninstall" />
      </Component>

      <Component Directory="ConfigFolder">
        <File Id="SumoLogicConfig" Name="sumologic.yaml" Source="!(bindpath.examples)\sumologic-windows.yaml" />
      </Component>

      <Component Directory="ConfigFragmentsFolder">
        <File Id="CommonConfig" Name="common.yaml" Source="!(bindpath.assets)\common.yaml" />
      </Component>

      <Component Id="cDataFolder" Directory="DataFolder" KeyPath="yes" Guid="B10962F8-B958-45E2-8B73-75C142A50B30">
        <CreateFolder />
        <RemoveFolder On="uninstall" />
      </Component>

      <Component Id="cOpAmpFolder" Directory="OpAmpFolder" KeyPath="yes" Guid="DB8F7CF1-B793-4C37-8B96-03E1A2FF7F92">
        <CreateFolder />
        <RemoveFolder On="uninstall" />
      </Component>

      <Component Id="cFileStorageFolder" Directory="FileStorageFolder" KeyPath="yes" Guid="0A7EFA54-26F3-46A9-BA12-9D12CDAEF1CD">
        <CreateFolder />
        <RemoveFolder On="uninstall" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProgramComponents" Directory="INSTALLFOLDER">
      <Component Directory="BinFolder">
        <File Name="otelcol-sumo.exe" Source="!(bindpath.binaries)\$(OtelcolBinary)" />

        <!-- Add bin dir to System PATH -->
        <Environment Id="PATH" Name="PATH" Value="[INSTALLDIR]\bin" Permanent="yes" Part="last" Action="set" System="yes" />

        <!-- Add service for OTC -->
        <ServiceInstall Id="Service" Name="!(loc.ServiceName)" DisplayName="!(loc.ServiceDisplayName)"
          Description="!(loc.ServiceDescription)" Type="ownProcess" Vital="yes" Start="auto" Account="LocalSystem"
          ErrorControl="normal" Arguments="[SERVICEARGUMENTS]" Interactive="no">
          <util:ServiceConfig FirstFailureActionType="restart" SecondFailureActionType="restart"
            ThirdFailureActionType="restart" RestartServiceDelayInSeconds="0" ResetPeriodInDays="0" />
        </ServiceInstall>

        <!-- Start/Stop/Remove OTC service -->
        <ServiceControl Id="StartServiceControl" Name="!(loc.ServiceName)" Start="install" Stop="both" Remove="uninstall" Wait="no" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
