<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <?include variables.wxi ?>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="CompanyFolder" Name="!(bind.Property.Manufacturer)">
        <Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)">
          <Directory Id="BinFolder" Name="bin" />
        </Directory>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="CommonAppDataFolder">
      <Directory Id="CompanyAppDataFolder" Name="!(bind.Property.Manufacturer)">
        <Directory Id="APPDATAFOLDER" Name="!(bind.Property.ProductName)">
          <Directory Id="ConfigFolder" Name="config">
            <Directory Id="ConfigFragmentsFolder" Name="conf.d" />
            <Directory Id="OpAmpFolder" Name="opamp.d" />
          </Directory>
          <Directory Id="DataFolder" Name="data">
            <Directory Id="FileStorageFolder" Name="file_storage" />
          </Directory>
        </Directory>
      </Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
