[Unit]
Description=Sumologic Opentelemetry Collector

[Service]
ExecStart=/usr/local/bin/otelcol-sumo --config /etc/otelcol-sumo/config.yaml
User=otelcol-sumo
Group=otelcol-sumo
MemoryHigh={{ sumologic_otel_collector.memory_high }}
MemoryMax={{ sumologic_otel_collector.memory_max }}
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
