# Shamelessly copied from contrib

# This action requires that any PR targeting the main branch should touch at
# least one CHANGELOG file. If a CHANGELOG entry is not required, add the "skip-changelog"
# label to disable this action.

name: changelog

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches:
      - main
jobs:
  changelog:
    runs-on: ubuntu-24.04
    if: "!contains(github.event.pull_request.labels.*.name, 'skip-changelog')"
    env:
      PR_NUMBER: ${{ github.event.number }}
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 50
      - name: Add PR base ref
        run: |
          git fetch origin ${{ github.base_ref }} --depth=50
      - name: install towncrier
        run: make install-towncrier
      - name: Check if new CHANGELOG entries added
        run: |
          make check-changelog
      - name: Check if new CHANGELOG entries reference the correct PR
        run: |
          git diff --name-only "origin/${{ github.base_ref }}" HEAD .changelog | grep "${PR_NUMBER}"
