name: Dev builds

permissions:
  contents: read

on:
  push:
    branches:
      - main
      - "dev-build/*"

defaults:
  run:
    shell: bash

jobs:
  determine-build-info:
    name: Build Info
    uses: ./.github/workflows/workflow-determine-build-info.yml

  test-otelcol:
    name: Test - Collector
    needs:
      - determine-build-info
    uses: ./.github/workflows/workflow-test-otelcol.yml
    with:
      go-version: ${{ needs.determine-build-info.outputs.go-version }}

  test-integration-otelcol:
    name: Integration Test - Collector
    needs:
      - determine-build-info
    uses: ./.github/workflows/workflow-test-integration-otelcol.yml
    with:
      go-version: ${{ needs.determine-build-info.outputs.go-version }}

  test-otelcol-config:
    name: Test - Config Tool
    uses: ./.github/workflows/workflow-test-otelcol-config.yml
    needs:
      - determine-build-info
    with:
      go-version: ${{ needs.determine-build-info.outputs.go-version }}

  build-otelcol:
    name: Build - Collector
    uses: ./.github/workflows/workflow-build-otelcol.yml
    needs:
      - determine-build-info
    with:
      go-version: ${{ needs.determine-build-info.outputs.go-version }}
      version: ${{ needs.determine-build-info.outputs.version-with-sha }}
    secrets: inherit

  build-otelcol-config:
    name: Build - Config Tool
    uses: ./.github/workflows/workflow-build-otelcol-config.yml
    needs:
      - determine-build-info
    with:
      go-version: ${{ needs.determine-build-info.outputs.go-version }}
    secrets: inherit

  # Store the install script from the packaging repository as an action artifact.
  # Originally, this script was stored in this repository, and the official download url pointed
  # to the most recent release here. The script has since been moved to the packaging repository.
  # It is kept here for backwards compatibility. Once the download count for this artifact
  # reaches 0 for new releases, this can be removed.
  #
  # TODO: This pulls the latest install scripts from the main branch of the
  # packaging reopsitory. There is a chance that the install scripts attached to
  # a collector release will differ from the install scripts attached to a
  # packaging release. We can either remove install scripts from releases here
  # or we should ensure that the install scripts are always automically synced
  # to this repository and use the install scripts from the HEAD SHA of the
  # collector workflow run specified for a release.
  install-script:
    name: Store Install Script
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          repository: SumoLogic/sumologic-otel-collector-packaging

      - name: Store Linux install script as action artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: install.sh
          path: ./install-script/install.sh
          if-no-files-found: error

      - name: Store Windows install script as action artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: install.ps1
          path: ./install-script/install.ps1
          if-no-files-found: error

  config-management-assets:
    name: Store Config Management Assets
    permissions:
      contents: read
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5

      - name: Archive Chef cookbook
        run: tar -cvf ./examples/chef/chef-cookbook.tar.gz -C ./examples/chef sumologic-otel-collector/

      - name: Archive Puppet module
        run: tar -cvf ./examples/puppet/puppet-module.tar.gz -C ./examples/puppet/modules install_otel_collector/

      - name: Archive Ansible playbook
        run: tar -cvf ./examples/ansible-playbook.tar.gz -C ./examples ansible/

      - name: Store Chef cookbook archive as action artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: chef-cookbook.tar.gz
          path: ./examples/chef/chef-cookbook.tar.gz
          if-no-files-found: error

      - name: Store Puppet module archive as action artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: puppet-module.tar.gz
          path: ./examples/puppet/puppet-module.tar.gz
          if-no-files-found: error

      - name: Store Ansible playbook archive as action artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
        with:
          name: ansible-playbook.tar.gz
          path: ./examples/ansible-playbook.tar.gz
          if-no-files-found: error

  trigger-containers:
    name: Containers
    needs:
      - build-otelcol
    uses: ./.github/workflows/workflow-trigger-remote-workflow.yml
    secrets: inherit
    with:
      repo: sumologic/sumologic-otel-collector-containers
      workflow-id: ${{ github.run_id }}
      workflow-name: build-and-push.yml

  trigger-packaging:
    name: Packages
    needs:
      - build-otelcol
      - build-otelcol-config
    uses: ./.github/workflows/workflow-trigger-remote-workflow.yml
    secrets: inherit
    with:
      repo: sumologic/sumologic-otel-collector-packaging
      workflow-id: ${{ github.run_id }}
      workflow-id-key: workflow_id
      workflow-name: build_packages.yml
