name: PRs checks

on:
  pull_request:
    branches:
      - '**'

jobs:

  markdownlint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: '2.6'
      - name: Install markdownlint
        run: gem install mdl
      - name: Markdownlint check
        run: make markdownlint

  yamllint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Install yamllint
        run: pip install yamllint
      - name: yamllint
        run: make yamllint

  markdown-link-check:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: gaurav-nelson/github-action-markdown-link-check@v1
        with:
          config-file: '.markdown_link_check.json'

  md-links-lint:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Lint markdown links
        run: |
          make markdown-links-lint

  test:
    name: Test
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: [ '1.16.5', '1.17.0-rc1' ]
        # TODO:
        # when telegraf dependency gets removed for any reason merge MacOS
        # builds with other OSes. Until this happens test/build it separately
        # due to CGO_RELATED cross compilation issues.
        # Exemplar failed workflow:
        # https://github.com/SumoLogic/sumologic-otel-collector/runs/2963259368
        arch_os: [ 'linux_amd64', 'linux_arm64' ]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
          stable: 'false'

      # As described in
      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@v2
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: ${{matrix.arch_os}}-go-pkg-${{matrix.go}}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{matrix.arch_os}}-go-pkg-${{matrix.go}}-

      - name: Run tests
        run: make gotest

  test-mac:
    name: Test
    runs-on: macos-latest
    strategy:
      matrix:
        go: [ '1.16.5', '1.17.0-rc1' ]
        arch_os: [ 'darwin_amd64' ]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
          stable: 'false'

      # As described in
      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@v2
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: ${{matrix.arch_os}}-go-pkg-${{matrix.go}}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{matrix.arch_os}}-go-pkg-${{matrix.go}}-

      - name: Run tests
        run: make gotest

  lint:
    name: Lint (golangci-lint)
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: [ '1.16.5', '1.17.0-rc1' ]
        arch_os: [ 'linux_amd64' ]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
          stable: 'false'

      # As described in
      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@v2
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: ${{matrix.arch_os}}-go-lint-${{matrix.go}}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{matrix.arch_os}}-go-lint-${{matrix.go}}-

      - name: Install golangci-lint
        run: make install-golangci-lint

      - name: Run golangci-lint
        run: make golint

  check-uniform-dependencies:
    name: Check uniform dependencies
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Check uniform dependencies
        run: make check-uniform-dependencies

  build:
    name: Build
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        go: [ '1.17.0-rc1' ]
        arch_os: [ 'linux_amd64', 'linux_arm64' ]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Fetch current branch
        run: ./ci/fetch_current_branch.sh

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
          stable: 'false'

      # As described in
      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@v2
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: ${{matrix.arch_os}}-go-${{matrix.go}}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{matrix.arch_os}}-go-${{matrix.go}}-

      - name: Install opentelemetry-collector-builder
        run: make install
        working-directory: ./otelcolbuilder

      - name: Build
        run: make otelcol-sumo-${{matrix.arch_os}}
        working-directory: ./otelcolbuilder

      - name: Show included modules
        working-directory: ./otelcolbuilder/cmd
        run: |
          go version -m otelcol-sumo-${{matrix.arch_os}} | \
          grep -E "/(receiver|exporter|processor|extension)/"

      - name: Store binary as action artifact
        uses: actions/upload-artifact@v2
        with:
          name: otelcol-sumo-${{matrix.arch_os}}
          path: ./otelcolbuilder/cmd/otelcol-sumo-${{matrix.arch_os}}
          if-no-files-found: error

  build-mac:
    name: Build
    runs-on: macos-latest
    strategy:
      matrix:
        go: [ '1.17.0-rc1' ]
        # TODO:
        # when telegraf dependency gets removed for any reason merge MacOS
        # builds with other OSes. Until this happens test/build it separately
        # due to CGO_RELATED cross compilation issues.
        # Exemplar failed workflow:
        # https://github.com/SumoLogic/sumologic-otel-collector/runs/2963259368
        arch_os: [ 'darwin_amd64' ]
    steps:
      - uses: actions/checkout@v2.3.4

      - name: Fetch current branch
        run: ./ci/fetch_current_branch.sh

      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go }}
          stable: 'false'

      # As described in
      # https://github.com/mvdan/github-actions-golang#how-do-i-set-up-caching-between-builds
      - uses: actions/cache@v2
        with:
          path: |
            /home/runner/go/pkg/mod
            /home/runner/.cache/go-build
          key: ${{matrix.arch_os}}-go-${{matrix.go}}-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{matrix.arch_os}}-go-${{matrix.go}}-

      - name: Install opentelemetry-collector-builder
        run: make install
        working-directory: ./otelcolbuilder

      - name: Build
        run: make otelcol-sumo-${{matrix.arch_os}}
        working-directory: ./otelcolbuilder

      - name: Show included modules
        working-directory: ./otelcolbuilder/cmd
        run: |
          go version -m otelcol-sumo-${{matrix.arch_os}} | \
          grep -E "/(receiver|exporter|processor|extension)/"

      - name: Store binary as action artifact
        uses: actions/upload-artifact@v2
        with:
          name: otelcol-sumo-${{matrix.arch_os}}
          path: ./otelcolbuilder/cmd/otelcol-sumo-${{matrix.arch_os}}
          if-no-files-found: error

  run-binaries:
    name: Run the binaries
    runs-on: ${{ matrix.runs_on }}
    needs:
      - build
      - build-mac
    strategy:
      matrix:
        include:
          - arch_os: linux_amd64
            runs_on: ubuntu-20.04
          - arch_os: linux_arm64
            runs_on: ubuntu-20.04
          - arch_os: darwin_amd64
            runs_on: macos-latest
    steps:
      - name: Download the binary from build phase artifact
        uses: actions/download-artifact@v2
        with:
          name: otelcol-sumo-${{ matrix.arch_os }}
      - name: Run the binary
        run: ./otelcol-sumo-${{ matrix.arch_os }}
