name: "Publish release"

run-name: >
  ${{ format('Publish Release for Workflow: {0}', inputs.workflow_id) }}

on:
  workflow_dispatch:
    inputs:
      workflow_id:
        description: |
          Workflow Run ID from this repository to fetch artifacts from for this
          release.
        required: true
        type: string
  workflow_call:
    inputs:
      workflow_id:
        description: |
          Workflow Run ID from this repository to fetch artifacts from for this
          release.
        required: true
        type: string

defaults:
  run:
    shell: bash

jobs:
  get-version:
    name: Get application version for this revision
    runs-on: ubuntu-24.04
    outputs:
      sha: ${{ steps.get-sha.outputs.git-sha }}
      otc-version: ${{ steps.get-version.outputs.otc-version }}
      sumo-version: ${{ steps.get-version.outputs.sumo-version }}
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v6

      - name: Outuput Workflow ID
        run: echo ::notice title=Workflow ID::${{ inputs.workflow_id }}

      - name: Output Workflow URL
        run: |
          repo_url="https://github.com/SumoLogic/sumologic-otel-collector"
          url="${repo_url}/actions/runs/${{ inputs.workflow_id }}"
          echo ::notice title=Workflow URL::${url}

      - name: Download otelcol-sumo artifact from workflow
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          name: otelcol-sumo-linux_amd64
          path: artifacts/
          merge-multiple: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ inputs.workflow_id }}

      - name: Determine version from artifact
        id: get-version
        run: |
          artifact="artifacts/otelcol-sumo-linux_amd64"
          chmod +x "${artifact}"
          script="ci/get_version_from_binary.sh"
          core="$("${script}" core "${artifact}")"
          sumo="$("${script}" sumo "${artifact}")"

          {
            echo "otc-version=$core"
            echo "sumo-version=$sumo"
            echo "version=${core}-sumo-${sumo}"
          } >> "$GITHUB_OUTPUT"

      - name: Output Version
        run: |
          echo ::notice title=Version::${{ steps.get-version.outputs.version }}

      - name: Determine Git SHA of workflow
        id: get-sha
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          workflow="${{ inputs.workflow_id }}"
          sha="$(gh run view ${workflow} --json headSha -t '{{.headSha}}')"
          echo "git-sha=$sha" >> "$GITHUB_OUTPUT"

      - name: Output Git SHA
        run: |
          echo ::notice title=Git SHA::${{ steps.get-sha.outputs.git-sha }}

  create-release:
    name: Create Github release
    runs-on: ubuntu-24.04
    needs:
      - get-version
    steps:
      - name: Download all artifacts from workflow
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53
        with:
          path: artifacts/
          merge-multiple: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ inputs.workflow_id }}

      - name: Add version to binary names
        working-directory: artifacts/
        run: |
          version="${{ needs.get-version.outputs.version }}"
          find . -type f -name 'otelcol-sumo*' \
            | sed 's/^\.\///' \
            | while read -r file; do
              new_name="${file//otelcol-sumo/otelcol-sumo-${version}}"
              mv "$file" "$new_name"
          done
          find . -type f -name 'otelcol-config*' \
            | sed 's/^\.\///' \
            | while read -r file; do
              new_name="${file//otelcol-config/otelcol-config-${version}}"
              mv "$file" "$new_name"
          done

      - uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: true
          prerelease: false
          commit: ${{ needs.get-version.outputs.sha }}
          tag: v${{ needs.get-version.outputs.version }}

          allowUpdates: true
          omitBodyDuringUpdate: true
          omitNameDuringUpdate: true

          body: |
            ## v${{ needs.get-version.outputs.version }}

            **TODO**

            ### Upstream releases
            ** TODO: Add upstream versions in the links below**
            Core: https://github.com/open-telemetry/opentelemetry-collector/releases/tag/v
            Contrib: https://github.com/open-telemetry/opentelemetry-collector-contrib/releases/tag/v

            ### Changelog

            **TODO**

          artifacts: "artifacts/*"
          artifactErrorsFailBuild: true
          replacesArtifacts: true
