name: Run tests

on:
  workflow_call:
    inputs:
      arch_os:
        description: Architecture and OS in the form "{arch}_{os}". See GOARCH and GOOS for accepted values.
        default: linux_amd64
        type: string
      boringcrypto:
        description: Run with BoringCrypto enabled
        default: false
        type: boolean
      runs-on:
        default: ubuntu-24.04
        type: string
      only-if-changed:
        description: Run only if relevant files changed.
        default: false
        type: boolean
      save-cache:
        description: Save the module and build caches.
        default: false
        type: boolean

defaults:
  run:
    shell: bash

env:
  GO_VERSION: "1.26.0"

jobs:
  test:
    name: Test
    runs-on: ${{ inputs.runs-on }}
    env:
      BORINGCRYPTO_SUFFIX: ${{ inputs.boringcrypto && '-boringcrypto' || '' }}
    steps:
      - uses: actions/checkout@v6

      - name: Setup go
        uses: actions/setup-go@v6
        with:
          go-version: ${{ env.GO_VERSION }}
          cache: false

      - name: Get GOCACHE and GOMODCACHE
        run: |
          echo "GOMODCACHE=$(go env GOMODCACHE)" >> "$GITHUB_ENV"
          echo "GOCACHE=$(go env GOCACHE)" >> "$GITHUB_ENV"

      - name: Get cache key
        id: get-cache-key
        run: |
          arch_os="${{ inputs.arch_os }}"
          go_version="${{ env.GO_VERSION }}"
          go_key="${go_version}${BORINGCRYPTO_SUFFIX}"
          hash="${{
            hashFiles('pkg/**/go.sum', 'otelcolbuilder/.otelcol-builder.yaml')
          }}"

          restore_key="go-test-${go_key}-${arch_os}-"
          cache_key="${restore_key}${hash}"

          {
          echo "cache-key=${cache_key}"
          echo "restore-keys=${restore_key}"
          } >> "$GITHUB_OUTPUT"

      - uses: actions/cache/restore@v5
        with:
          path: |
            ${{ env.GOMODCACHE }}/cache
            ${{ env.GOCACHE }}
          key: ${{ steps.get-cache-key.outputs.cache-key }}
          restore-keys: |
            ${{ steps.get-cache-key.outputs.restore-keys }}

      - name: Install yq (Windows)
        if: contains(inputs.arch_os, 'windows')
        run: choco install yq

      - name: Set default BUILDER_BIN_PATH
        run: echo "BUILDER_BIN_PATH=${HOME}/bin" >> "$GITHUB_ENV"

      - name: Add opentelemetry-collector-builder installation dir to PATH
        run: echo "$BUILDER_BIN_PATH" >> "$GITHUB_PATH"

      - name: Run package tests
        run: make gotest ${{ inputs.boringcrypto && 'CGO_ENABLED=1 GOEXPERIMENT=boringcrypto' || '' }}

      - uses: actions/cache/save@v5
        with:
          path: |
            ${{ env.GOMODCACHE }}/cache
            ${{ env.GOCACHE }}
          key: ${{ steps.get-cache-key.outputs.cache-key }}
